header{
    overflow-x: hidden;
    height: 5vh;
    margin-top: 3vh;
    margin-right: 2.5vh;
}

body{
    overflow-x: hidden;
    background: linear-gradient(to left, #b59977, beige) no-repeat fixed;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 5vh;
}

footer{
    overflow-x: hidden;
    display: block;
    position: fixed;
    bottom: 1vh;
    width: 97vw;
    text-align: center;
    color: black;
    margin-top: 2vh;
    margin-right: 1vw;
    margin-left: 1vw;

}

h1{
    position: relative;
    color: #210a02;
    font-size: 12vh;
    text-align: left;
    font-family: "Times New Roman", consolas, serif;
    font-weight: 800;
}

.title{
    font-size: 20vh;
}

p{
    position: relative;
    color: black;
    font-size: 4vh;
    text-align: left;
    font-family: "Orbitron", consolas, serif;
    font-weight: 400;
}

ul{
    position: relative;
    font-family: "Orbitron", consolas, serif;
    font-size: 4vh;
    text-align: left;
    left: 2vw;
    font-weight: 400;
}


button{
    display: inline-flex;
    font-size: 3vh;
    color: white;
    font-family: "Orbitron", consolas, serif;
    border: none;
    background-color: unset;
}

button:hover{
    color: dimgray;
}

.active{
    color: dimgray;
}

nav{
    overflow: hidden;
    position: relative;
    float:right;
    z-index: 99;
}

a {
    text-decoration: none;
    z-index: 99;
}

.email{
    color: black;
    position: relative;
    left: 2vw;

}
.email:hover{
    color: dimgray;
}

a.conLink{
    color: black;
    &:hover{
        color: dimgray;
    }
}