
body{
    background: linear-gradient(to right, bisque, #49277f);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    position: relative;
    left: 30px;
    color: darkslateblue;
    font-size: 95px;
    text-align: left;
    font-family: "Orbitron", consolas, serif;
    font-weight: 800;
}

p{
    position: relative;
    left: 60px;
    color: black;
    font-size: 35px;
    text-align: left;
    font-family: "Orbitron", consolas, serif;
    font-weight: 400;
}

ul{
    position: relative;
    font-family: "Orbitron", consolas, serif;
    font-size: 25px;
    text-align: left;
    left: 85px;
    font-weight: 400;
}


h2{
    color: darkslategrey;
    font-size: 40px;
    text-align: right;
    font-family: "Orbitron", consolas, serif;
    font-weight: 500;
}

button{
    display: inline-flex;
    font-size: 20px;
    color: white;
    font-family: "Orbitron", consolas, serif;
    border: none;
    background-color: unset;
}

button:hover{
    color: dimgray;
}

#menu{
    font-size : 25px;
    font-family: "Orbitron", consolas, serif;
    border: none;
    color: white;
    background-color: unset;
}

#menu:hover{
    color: dimgray;
}

.menu{
    position: absolute;
    top: 60px;
    right: 50px;
}

.navbar{
    position: absolute;
    top: 130px;
    right: 20px;
}
#navbar{
    display: none;
}