body{
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left, #b59977, beige) no-repeat fixed;
    width: 100%;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 5vh;
    width: 100%;
    margin: 3vh;
}

main{
    align-items: center;
    font-family: Inter, sans-serif;
    font-size: 2vw;
    margin-left: 2vw;
    margin-right: auto;
}

footer{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    color: black;
    margin-top: auto;
    margin-bottom: 2vh;

}


h1{
    color: #210a02;
    font-size: 6vw;
    font-family: "Times New Roman", consolas, serif;
    font-weight: 800;
}

h1.title{
    font-size: 10vw;
}

p{
    font-size: 2vw;
    text-align: left;
}

ul{
    font-size: 2vw;
    left: 2vw;
    font-weight: 400;
}

button{
    display: inline-flex;
    font-size: 1.5vw;
    color: white;
    font-family: "Orbitron", consolas, serif;
    border: none;
    background-color: unset;
    margin-left: .5vw;

    &:hover{
        color: dimgray;
    }
}

button.active{
    color: dimgray;
}

nav{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 99;
    margin-left: auto;
    margin-right: 2vw;
}

a {
    text-decoration: none;
    z-index: 99;
}

a.copyright{
    margin-top: auto;
    margin-left: auto;
    margin-right: 2vw;
}

a.email{
    color: black;
    position: relative;
    left: 2vw;

    &:hover{
        color: dimgray;
    }

}

a.conLink{
    color: black;
    &:hover{
        color: dimgray;
    }
}