body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left, #b59977, beige) no-repeat fixed;
    width: 99%;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Inter, sans-serif;
    font-size: clamp(1rem, calc(1.6vw + 1rem), 5rem);
    width: 100%;
    margin: 0;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: black;
    width: 100%;
}


h1{
    color: #210a02;
    font-size: clamp(4rem, calc(10vw + 1rem), 7rem);
    font-family: "Times New Roman", consolas, serif;
    font-weight: 800;
    padding-left: 2%;
    margin-top: 3%;
    margin-bottom: 1%;
}

@media only screen and (max-width: 1000px){
    h1.title{
        font-size: 25vw;
    }
}

@media only screen and (min-width: 1000px){
    h1.title{
        font-size: clamp(2rem, calc(10vw + 1rem), 20rem)
    }
}


p{
    padding-left: 2%;
    margin: 1%;
}

ul{
    font-size: clamp(.8rem, calc(1.2vw + 1rem), 3rem);
    padding-left: 4%;
    font-weight: 400;
    margin: 1%;
}

button{
    display: inline-flex;
    font-size: clamp(2rem, calc(.8vw + 1rem), 3rem);
    color: white;
    font-family: "Orbitron", consolas, serif;
    border: none;
    background-color: unset;
    margin-left: .5vw;

    &:hover{
        color: dimgray;
    }
}

button.active{
    color: dimgray;
}

nav{
    z-index: 99;
    padding: 1%;
    margin-left: auto;
}

a {
    text-decoration: none;
    z-index: 99;
}

a.email{
    color: black;
    position: relative;
    left: 2vw;

    &:hover{
        color: dimgray;
    }

}

a.conLink{
    color: black;
    &:hover{
        color: dimgray;
    }
}

a.copyright{
    padding: 1%;
    margin-left: auto;
    margin-top: auto;
}

img{
    width: clamp(1rem, calc(1.6vw + 1rem), 5rem);
    text-decoration: none;
}